*.class

*.log

*.ctxt

.mtj.temp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

java_anatomia_class/.vscode/settings.json
java_operators/.vscode/settings.json
java_tipos_variaveis/.vscode/settings.json
java_metodos/.vscode/settings.json
java_terminal/.vscode/settings.json
Anatomia de Classe/java_anatomia_class/.vscode/settings.json
Condicionais/java_condicional/.vscode/settings.json
Métodos/java_metodos/.vscode/settings.json
Operadores/java_operators/.vscode/settings.json
Terminal e Scanner/java_terminal/.vscode/settings.json
Variáveis/java_tipos_variaveis/.vscode/settings.json
